<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th *ngIf="areActionsAvailable">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (cat of categorias; track cat.id) {
        <tr>
          <td>{{cat.id}}</td>
          <td>{{cat.nombre}}</td>
          <td>{{cat.descripcion}}</td>
          <td *ngIf="areActionsAvailable">
            <button (click)="callModalAction.emit(cat)" class="btn btn-warning me-2" type="button">
              <i class="fas fa-pen"></i>
            </button>
            <button (click)="callDeleteAction.emit(cat)" class="btn btn-danger" type="button">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="text-center">No hay categorías</td>
        </tr>
      }
    </tbody>
  </table>
</div>